@import "tailwindcss";

@font-face {
  font-family: "AlanSans";
  src: url("/fonts/AlanSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "AlanSans";
  src: url("/fonts/AlanSans-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "AlanSans";
  src: url("/fonts/AlanSans-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

html,
body {
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: "AlanSans", sans-serif;
}
