@import "tailwindcss";

@font-face {
  font-family: "AlanSans";
  src: url("/fonts/AlanSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "AlanSans";
  src: url("/fonts/AlanSans-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "AlanSans";
  src: url("/fonts/AlanSans-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

html,
body {
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: "AlanSans", sans-serif;
}

/* Estilos para animación de entrada */
.intro-title h1, .outro-title h1 {
  font-size: 6rem;
  font-weight: bold;
  line-height: 1;
}

.preloader, .split-overlay, .tags-overlay {
  position: fixed;
  width: 100vw;
  height: 100dvh;
  justify-content: center;
  align-items: center;
  display: flex;
  gap: 1rem;
}

.preloader, .split-overlay {
  background-color: #0a0a0a;
  color: #fff;
}

.preloader, .tags-overlay {
  z-index: 2;
}

.split-overlay {
  z-index: 1;
}

.tag {
  position: absolute;
  width: max-content;
  color: #5a5a5a;
  overflow: hidden;
}

.tag-1 {
  top: 15%;
  left: 15%;
}

.tag-2 {
  bottom: 15%;
  left: 25%;
}

.tag-3 {
  bottom: 30%;
  right: 15%;
}

.card {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  clip-path: polygon(0% 50%, 100% 50%, 100% 50%, 0% 50%);
}

.card h2 {
  text-align: center;
  width: 100%;
  font-weight: bold;
  font-size: 4rem;
}

.card .char span {
  position: relative;
  display: inline-block;
  transform: translateY(100%);
  will-change: transform;
}

.intro-title .char, .outro-title .char, .card .char {
  position: relative;
  display: inline-block;
  overflow: hidden;
}

.intro-title .char, .outro-title .char {
  margin-top: 0.75rem;
} 

.intro-title .char span, .outro-title .char span, .tag .word {
  position: relative;
  display: inline-block;
  transform: translateY(-100%);
  will-change: transform;
}

.intro-title .first-char {
  transform-origin: top left;
}

.page-reveal {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  clip-path: polygon(0 48%, 0 48%, 0 52%, 0 52%);
  z-index: 2;
}

nav, footer {
  z-index: 2;
  color: #fff;
}

@media (max-width: 1000px) {
  .intro-title h1, .outro-title h1 {
    font-size: 2.5rem;
  }

  .card h2 {
    font-size: 2.5rem;
    line-height: 1;
    margin-top: 15px;
    margin-bottom: 15px;
  }
}