---
import Layout from '../layouts/Layout.astro';
import LinkedInIcon from '../assets/icons/brand-linkedin.svg';
import GitHubIcon from '../assets/icons/brand-github.svg';
import EmailIcon from '../assets/icons/mail.svg';
---

<Layout>
	<div class="preloader">
		<div class="intro-title">
			<h1>Román</h1>
		</div>
		<div class="outro-title">
			<h1>González</h1>
		</div>
	</div>

	<div class="split-overlay">
		<div class="intro-title">
			<h1>Román</h1>
		</div>
		<div class="outro-title">
			<h1>González</h1>
		</div>
	</div>

	<div class="tags-overlay">
		<div class="tag tag-1"><p class="text-sm font-semibold">DESARROLLADOR</p></div>
		<div class="tag tag-2"><p class="text-sm font-semibold">ENTUSIASTA</p></div>
		<div class="tag tag-3"><p class="text-sm font-semibold">COLABORADOR</p></div>
	</div>

	<div class="page-reveal bg-[#EEEAF7]">
		<nav class="max-h-16 h-full px-10 w-full flex items-center justify-between text-2xl font-bold border-b border-gray-300">
			<div class="flex items-center">
				<p class="inline-block text-[#1A1A2E]">R</p>
				<p class="inline-block mt-1.5 -ml-1 text-[#1A1A2E]">G</p>
			</div>

			<div class="flex items-center gap-6 text-[#1A1A2E]">
				<a href="https://www.linkedin.com/in/romangonzalezdev/" target="_blank" aria-label="LinkedIn">
					<LinkedInIcon class="w-6 h-6 hover:scale-110 transition-transform duration-300"/>
				</a>
				<a href="mailto:romangonzalezdev@example.com" target="_blank" aria-label="Email">
					<EmailIcon class="w-6 h-6 hover:scale-110 transition-transform duration-300"/>
				</a>
				<a href="https://github.com/romangonzalezdev" target="_blank" aria-label="GitHub">
					<GitHubIcon class="w-6 h-6 hover:scale-110 transition-transform duration-300"/>
				</a>
			</div>
		</nav>

		<section class="w-full h-full relative">
			<div class="card w-[90%] max-w-5xl flex flex-col items-center py-8 mx-auto">
				<div class="flex items-center gap-2 text-base sm:text-lg text-[#1A1A2E] font-semibold">
					<span>Web</span>
					<span aria-hidden="true" class="opacity-80">·</span>
					<span>Mobile</span>
					<span aria-hidden="true" class="opacity-80">·</span>
					<span>Desktop</span>
				</div>
				<h2 class="text-[#1A1A2E]">Desarrollador Frontend</h2>
				<p class="text-[#1A1A2E] text-base sm:text-lg text-center max-w-2xl">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cumque itaque et aspernatur aliquid, blanditiis quo dolore tempore obcaecati cupiditate aliquam voluptatum optio placeat unde quisquam est, consequuntur nesciunt necessitatibus ducimus?</p>
			</div>

			<div class="custom-shape-divider-bottom-1763342963">
				<svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
					<path d="M0,0V46.29c47.79,22.2,103.59,32.17,158,28,70.36-5.37,136.33-33.31,206.8-37.5C438.64,32.43,512.34,53.67,583,72.05c69.27,18,138.3,24.88,209.4,13.08,36.15-6,69.85-17.84,104.45-29.34C989.49,25,1113-14.29,1200,52.47V0Z" opacity=".25" class="shape-fill"></path>
					<path d="M0,0V15.81C13,36.92,27.64,56.86,47.69,72.05,99.41,111.27,165,111,224.58,91.58c31.15-10.15,60.09-26.07,89.67-39.8,40.92-19,84.73-46,130.83-49.67,36.26-2.85,70.9,9.42,98.6,31.56,31.77,25.39,62.32,62,103.63,73,40.44,10.79,81.35-6.69,119.13-24.28s75.16-39,116.92-43.05c59.73-5.85,113.28,22.88,168.9,38.84,30.2,8.66,59,6.17,87.09-7.5,22.43-10.89,48-26.93,60.65-49.24V0Z" opacity=".5" class="shape-fill"></path>
					<path d="M0,0V5.63C149.93,59,314.09,71.32,475.83,42.57c43-7.64,84.23-20.12,127.61-26.46,59-8.63,112.48,12.24,165.56,35.4C827.93,77.22,886,95.24,951.2,90c86.53-7,172.46-45.71,248.8-84.81V0Z" class="shape-fill"></path>
				</svg>
			</div>
		</section>
	</div>
</Layout>

<style>
	.custom-shape-divider-bottom-1763342963 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

	.custom-shape-divider-bottom-1763342963 svg {
			position: relative;
			display: block;
			width: calc(100% + 1.3px);
			height: 160px;
			transform: rotateY(180deg);
	}

	.custom-shape-divider-bottom-1763342963 .shape-fill {
			fill: #FFFFFF;
	}
</style>

<script>
	import gsap from 'gsap';
	import { CustomEase } from 'gsap/CustomEase';
	import { SplitText } from 'gsap/SplitText';

	gsap.registerPlugin(CustomEase, SplitText);
	CustomEase.create("hop", ".8, 0, .3, 1");

	const splitTextElements = (selector: any, type = "words,chars", addFirstChar = false) => {
    const elements = document.querySelectorAll(selector);

    elements.forEach((element) => {
      const splitText = new SplitText(element, { type: type, wordsClass: "word", charsClass: "char" });

      if (type.includes("chars")) {
        splitText.chars.forEach((char: any, index: number) => {
          const originalText = char.textContent;
          char.innerHTML = `<span>${originalText}</span>`;

          if (addFirstChar && index === 0) {
            char.classList.add("first-char");
          }
        });
      }
    });
  }

	splitTextElements(".intro-title h1", "chars", true);
  splitTextElements(".outro-title h1", "chars", true);
  splitTextElements(".tag p", "words");
  splitTextElements(".card h2", "words, chars", true);

	const isMobile = window.innerWidth <= 1000;

	const tl = gsap.timeline({ defaults: { ease: "hop" } });
	const tags = gsap.utils.toArray<HTMLElement>(".tag");

	// Animación para las tags
	tags.forEach((tag, index) => {
		tl.to(
			tag.querySelectorAll("p .word"),
			{ 
				y: "0%",
				duration: 0.6
			},
			0.5 + index * 0.1
		);
	});

	// Animación para el título del prelaoder
	tl.to(
		[".preloader .intro-title .char span", ".preloader .outro-title .char span"],
		{
			y: "0%",
			duration: 0.4,
			stagger: 0.05
		},
		0.2
	).to(
		[".preloader .intro-title .char:not(.first-char) span", ".preloader .outro-title .char:not(.first-char) span"],
		{
			y: "100%",
			duration: 0.4,
			stagger: 0.05
		},
		1.3
	).to(
		".preloader .intro-title .first-char",
		{
			x: isMobile ? "9rem" : "20.25rem",
			fontSize: isMobile ? "3rem" : "8rem",
			duration: 0.7
		},
		2
	).to(
		".preloader .outro-title .first-char",
		{
			x: isMobile ? "0.5rem" : "1.35rem",
			y: "15%",
			fontSize: isMobile ? "3rem" : "8rem",
			duration: 0.7
		},
		2
	).to(
		".preloader .intro-title .first-char",
		{
			y: "-100%",
			duration: 0.3,
		},
		2.7
	).to(
		".preloader .outro-title .first-char",
		{
			y: "-85%",
			duration: 0.3,
		},
		2.7
	).to(
		".page-reveal",
		{
			clipPath: "polygon(0 48%, 100% 48%, 100% 52%, 0 52%)",
			duration: 0.7,
		},
		3.1
	);

	// Animación para las tags saliendo
	tags.forEach((tag, index) => {
		tl.to(
			tag.querySelectorAll("p .word"),
			{ 
				y: "100%",
				duration: 0.3
			},
			3.3 + index * 0.1
		);
	});

	tl.to(
		[".preloader", ".split-overlay"],
		{
			y: (i) => (i === 0 ? "-50%" : "50%"),
			duration: 1,
		},
		4
	).to(
		".page-reveal",
		{
			clipPath: "polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%)",
			duration: 0.7,
		},
		4.2
	).to(
		".page-reveal .card",
		{
			clipPath: "polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%)",
			duration: 0.75,
		},
		4.4
	).to(
		".page-reveal .card h2 .char span",
		{
			y: "12%",
			duration: 0.4,
			stagger: 0.05
		},
		4.5
	);
</script>
