---
import LinkedInIcon from '../assets/icons/brand-linkedin.svg';
import GitHubIcon from '../assets/icons/brand-github.svg';
import EmailIcon from '../assets/icons/mail.svg';
---

<header class="h-16 px-10 w-full flex items-center justify-between text-2xl font-bold border-b border-gray-300">
  <div class="flex items-center">
    <p class="inline-block text-[#1A1A2E]">R</p>
    <p class="inline-block mt-1.5 -ml-0.5 text-[#1A1A2E]">G</p>
  </div>

  <div class="flex items-center gap-6 text-[#1A1A2E]">
    <a href="https://www.linkedin.com/in/romangonzalezdev/" target="_blank" aria-label="LinkedIn">
      <LinkedInIcon class="w-6 h-6 hover:scale-110 transition-transform duration-300"/>
    </a>
    <a href="mailto:romangonzalezdev@example.com" target="_blank" aria-label="Email">
      <EmailIcon class="w-6 h-6 hover:scale-110 transition-transform duration-300"/>
    </a>
    <a href="https://github.com/romangonzalezdev" target="_blank" aria-label="GitHub">
      <GitHubIcon class="w-6 h-6 hover:scale-110 transition-transform duration-300"/>
    </a>
  </div>
</header>